<%- include("partials/header"); -%>       
<!-- EDUCATION CONTENT -->
<div id="content_container">				
    <div class="block">
      <h1>Education</h1>
      <h4>2022-2023</h4>
      <h3>Northwestern University</h3>
      <p>Master of Science in Analytics</p>
    </div>
    <div class="horizontal_line">
      <div class="line_left"></div>
      <div class="left_circle"></div>
      <div class="central_circle"></div>
      <div class="right_circle"></div>
      <div class="line_right"></div>
    </div>
    <div class="block">
        <h4>2019-2021</h4>
        <h3>Yonsei University</h3>
        <p>Master of Science in Bioindustrial Engineering</p>
        <p>Lab. of Food and Biosystems Engineering</p>
    </div>
    <div class="horizontal_line">
      <div class="line_left"></div>
      <div class="left_circle"></div>
      <div class="central_circle"></div>
      <div class="right_circle"></div>
      <div class="line_right"></div>
    </div>
    <div class="block">
        <h4>2015-2019</h4>
        <h3>Yonsei University</h3>
        <p>Bachelor of Science in Biotechnology</p>
    </div>
</div>
  <div class="clear"></div>
<%- include("partials/footer"); -%>