<%- include("partials/header"); -%>       
<!-- EDUCATION CONTENT -->
<div id="content_container">				
    <div class="block">
      <h1>Experience</h1>
      <h4>Oct, 2022 - Jun, 2023</h4>
      <h3>Honda R&D</h3>
      <p>Data Science Consultant</p>
      <ul>
        <li>Developing a cost prediction model using machine learning techniques to forecast future costs and optimize budget planning of R&D projects.</li>
        <li>Liaising with 4 data science students, 2 MBA students, ZealStrat consulting, and Honda R&D to develop a machine learning model that can be implemented to make data driven decision.
        </li>
      </ul>
    </div>
    <div class="horizontal_line">
      <div class="line_left"></div>
      <div class="left_circle"></div>
      <div class="central_circle"></div>
      <div class="right_circle"></div>
      <div class="line_right"></div>
    </div>
    <div class="block">
        <h4>Apr, 2022 - May, 2022</h4>
        <h3>Propwave</h3>
        <p>Data Science Intern</p>
        <ul>
            <li>Assisted in developing image-based empty parking slot detection code in Python using CV2 (OpenCV) library to identify empty parking spaces in real-time video streams from cameras installed in a parking lot.</li>
            <li>Implemented image preprocessing techniques (e.g. filtering, thresholding) to enhance the contrast and clarity of the input images and improve the accuracy of the detection algorithm</li>
            <li>Tested and evaluated the performance of the empty parking slot detection code using metrics such as accuracy, precision, and recall</li>
        </ul>
    </div>
    <div class="horizontal_line">
      <div class="line_left"></div>
      <div class="left_circle"></div>
      <div class="central_circle"></div>
      <div class="right_circle"></div>
      <div class="line_right"></div>
    </div>
    <div class="block">
        <h4>Sep, 2019 - Aug, 2021</h4>
        <h3>Yonsei University</h3>
        <p>Graduate Research and Teaching Assistant</p>
        <ul>
            <li>Designed, modeled, and experimented research on bioactive peptides.</li>
            <li>Utilized R to preprocess, cluster and visualize genome and peptide data.</li>
            <li>Published <a href="https://pubs.acs.org/doi/full/10.1021/acs.jafc.2c01251?casa_token=uXyB7eLVvEYAAAAA%3AtJpB1TGHGREx6KQ1VergV6whAmk8EXpdJZH-7LeyVpQS9CO_mRT4mEj8N9XHDDSjzMcvnPcmxLAC84k">research paper</a> as first author at JAFC (IF 5.279).</li>
            <li>Procured research grant from Amore Pacific Co.</li>
        </ul>
    </div>
</div>
  <div class="clear"></div>
<%- include("partials/footer"); -%>