<%- include("partials/header"); -%>       
<!-- EDUCATION CONTENT -->
<div id="content_container">				
    <div class="block">
      <h1>Projects</h1>
      <h4>Feb, 2022 - Apr, 2023</h4>
      <h2 class="nutri-ai">Nutri-AI</h2>
      <a class="btn btn-light btn-sm project-button p-1" style="font-size:16px" href="https://www.github.com/nutri-ai">Github <i class="fa fa-github"></i></a>
      <p><b>Diet Assessment and Supplement Recommendation Application</b></p>
      <p>Flutter-based food image detection application for logging meals and recommending iHerb supplements.</p>
      <ul>
        <p>participated in end-to-end development from...</p>
        <li>creating database schema and utilizing AWS DynamoDB/ S3</li>
        <li>building backend API using FastAPI</li>
        <li>training image detection model with Yolov3</li>
        <li>deploying model using ONNX/ ONNX runtime</li>
        <li>deploying service using docker and EC2</li>
        <li>developing Flutter mobile application</li>
      </ul>
      <p>Project received 1st place in the SK Planet's data science bootcamp.</p>
    </div>
</div>
  <div class="clear"></div>
<%- include("partials/footer"); -%>